// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https://docs.nordicsemi.com/bundle/nrf-connect-vscode/page/guides/ncs_configure_app.html#devicetree-support-in-the-extension

#include <zephyr/dt-bindings/led/led.h>


/{

    //added code//

    capteurs {
        compatible = "gpio-keys";

        capteur0: capteur_0 {
            
            gpios = <&gpio0 2 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
            label = "Capteur_1";
        }; 
        status = "okay";

    };

    emetteurLaser {
        compatible = "gpio-keys";

        laser0: laser_0 {
            
            gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;
            label = "Laser_1";
        }; 
        status = "okay";
    };
    



    led_strip0: led_strip0 {
        
        compatible = "zephyr,spi-bitbang";
		status="okay";
		#address-cells = <1>;
		#size-cells = <0>;
		clk-gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
		mosi-gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
		miso-gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>;
		cs-gpios = <&gpio0 7 GPIO_ACTIVE_LOW>;
    };


    pwmOutput{
        compatible = "gpio-leds";

        pwm_out0: pwm_output_0 {

        gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>;
        label = "PWM_Output_1";

        };
        status = "okay";
        
    };

};


&arduino_header {
    gpio-map = <0 0 &gpio0 14 0>,
               <1 0 &gpio0 15 0>,
               <2 0 &gpio0 16 0>,
               <3 0 &gpio0 17 0>,
               <4 0 &gpio0 18 0>,
               <5 0 &gpio0 19 0>,
               <6 0 &gpio0 0 0>,
               <7 0 &gpio0 1 0>,
               <8 0 &gpio0 2 0>,
               <9 0 &gpio0 3 0>,
               <10 0 &gpio0 4 0>,
               <11 0 &gpio0 5 0>,
               <12 0 &gpio0 6 0>,
               <13 0 &gpio0 7 0>,
               <14 0 &gpio0 8 0>,
               <15 0 &gpio0 9 0>,
               <16 0 &gpio0 10 0>,
               <17 0 &gpio0 11 0>,
               <18 0 &gpio0 12 0>,
               <19 0 &gpio0 13 0>,
               <20 0 &gpio0 30 0>,
               <21 0 &gpio0 31 0>;
};


&pwm_led0 {
    pwms = <&pwm0 0 10000000 PWM_POLARITY_NORMAL>;
};
